html{overflow-y:scroll}
body{max-width:45em;font-size:14px; line-height:1.61; font-family:sans-serif; color:#333; margin:0 auto}
a{color:#12C}
a:hover{color:#c00}
img{float:left}
header img{border-radius:40px}
header p{font-size:1.5em; padding-left:4em; color:#C90B0B}
header p span{font-size:0.8em}
.hero{padding:2em; background-color:#f8f8f8; font-size:1.2em}
.hero, .content, footer{border-top:1px solid #ccc}
.content{padding:1em 1em}
ul{padding:0 0 0 20px}
li{list-style-type:none; font-size:1.1em}
li img{padding-right:1em}
li p{padding-left:4em; font-size:0.9em;}
footer span{float:right}
@media only screen and (max-width:480px){body{font-size:12px}
  header p{padding-left:4.5em}}
